<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taimoor.projekt_labirynt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projekt_labirynt">
        <activity
            android:name=".loginfragment_act"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".profilefragment_act"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".graj"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".narzedzia"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".Barometr"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".Jasnosc"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".Kompas"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".Natezenie"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:keepScreenOn="true"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:keepScreenOn="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>